/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts12
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #404040;
}
a.rvts16, span.rvts16
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts17, span.rvts17
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #404040;
}
a.rvts23, span.rvts23
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts24, span.rvts24
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #404040;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts26
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts28
{
}
span.rvts29
{
 font-weight: bold;
}
a.rvts30, span.rvts30
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #404040;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts36
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts37
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts38
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #404040;
}
span.rvts39
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts40
{
 font-size: 8pt;
 font-family: 'Calibri';
 vertical-align: super;
}
span.rvts41
{
 font-family: 'Calibri';
}
a.rvts42, span.rvts42
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts43
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts44
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
}
a.rvts45, span.rvts45
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Calibri';
 background-color: #eeeeee;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
 background-color: #eeeeee;
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'Calibri';
 background-color: #eeeeee;
}
span.rvts49
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
 background-color: #eeeeee;
}
span.rvts50
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts51
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts53
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
}
a.rvts54, span.rvts54
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
 text-decoration: none;
}
span.rvts55
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #333333;
}
span.rvts56
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts57
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
 letter-spacing: 1px;
 text-transform: uppercase;
}
span.rvts58
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts59
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
a.rvts60, span.rvts60
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts61
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts62
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
 text-decoration: underline;
}
span.rvts64
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts65
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #333333;
}
span.rvts66
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #333333;
}
span.rvts67
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
}
span.rvts68
{
 font-family: 'Calibri';
 color: #333333;
}
span.rvts69
{
 font-family: 'Calibri';
 font-weight: bold;
 color: #333333;
}
a.rvts70, span.rvts70
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts72
{
 font-size: 16pt;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 line-height: 1.50;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 line-height: 1.50;
 margin: 8px 0px 6px 0px;
}
.rvps7
{
 line-height: 1.50;
}
.rvps8
{
 line-height: 1.50;
 margin: 0px 0px 16px 0px;
}
.rvps9
{
 line-height: 1.50;
 margin: 6px 0px 6px 0px;
}
.rvps10
{
 line-height: 1.50;
 page-break-after: avoid;
}
.rvps11
{
 line-height: 1.50;
}
.rvps12
{
 line-height: 1.50;
}
.rvps13
{
 line-height: 1.50;
 margin: 8px 0px 8px 57px;
}
.rvps14
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps15
{
 line-height: 1.50;
 margin: 6px 0px 6px 0px;
}
.rvps16
{
 line-height: 1.50;
 page-break-after: avoid;
}
.rvps17
{
 line-height: 1.50;
 margin: 6px 0px 6px 57px;
}
.rvps18
{
 line-height: 1.50;
 margin: 8px 0px 8px 0px;
}
.rvps19
{
 line-height: 1.50;
 margin: 8px 0px 8px 0px;
}
.rvps20
{
 line-height: 1.50;
 margin: 8px 0px 6px 52px;
}
.rvps21
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps22
{
 margin: 0px 0px 0px 24px;
}
.rvps23
{
}
.rvps24
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 24px;
}
.rvps25
{
 line-height: 1.50;
 margin: 0px 0px 0px 17px;
}
.rvps26
{
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps27
{
 line-height: 1.50;
 margin: 0px 0px 0px 72px;
}
.rvps28
{
 line-height: 1.50;
 margin: 8px 0px 8px 24px;
}
.rvps29
{
 line-height: 1.50;
 margin: 0px 0px 0px 19px;
}
.rvps30
{
 line-height: 1.50;
 margin: 0px 0px 0px 62px;
}
.rvps31
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps32
{
 text-align: right;
 line-height: 1.50;
}
.rvps33
{
 line-height: 1.50;
 margin: 0px 0px 0px 57px;
}
.rvps34
{
 text-indent: -24px;
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps35
{
 line-height: 1.50;
 margin: 0px 0px 0px 95px;
}
.rvps36
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps37
{
 line-height: 1.50;
 margin: 0px 0px 0px 76px;
}
.rvps38
{
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps39
{
 text-indent: -1px;
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps40
{
 text-indent: -24px;
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 96px;
}
.rvps41
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps42
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 72px;
}
.rvps43
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps44
{
 line-height: 1.50;
 margin: 0px 0px 0px 19px;
}
.rvps45
{
 line-height: 1.50;
 margin: 0px 0px 0px 57px;
}
.rvps46
{
 text-indent: -19px;
 line-height: 1.50;
 margin: 0px 0px 0px 94px;
}
.rvps47
{
 line-height: 1.50;
 margin: 0px 0px 0px 38px;
}
.rvps48
{
 line-height: 1.50;
 margin: 8px 0px 8px 19px;
}
.rvps49
{
 line-height: 1.50;
 margin: 8px 0px 8px 24px;
}
.rvps50
{
 line-height: 1.50;
 margin: 8px 0px 6px 24px;
}
.rvps51
{
 line-height: 1.50;
 background: #f3f3f3;
 margin: 0px 0px 16px 24px;
}
.rvps52
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps53
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps54
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps55
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 96px;
}
.rvps56
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps57
{
 line-height: 1.50;
 margin: 0px 0px 0px 130px;
}
.rvps58
{
 line-height: 1.50;
 margin: 8px 0px 8px 19px;
}
.rvps59
{
 line-height: 1.50;
 margin: 0px 0px 0px 19px;
}
.rvps60
{
 line-height: 1.50;
 margin: 0px 0px 0px 9px;
}
.rvps61
{
 line-height: 1.50;
 margin: 0px 0px 0px 62px;
}
.rvps62
{
 line-height: 1.50;
}
.rvps63
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 38px;
}
.rvps64
{
 line-height: 1.50;
 margin: 0px 0px 0px 38px;
}
.rvps65
{
 line-height: 1.50;
 margin: 0px 0px 0px 57px;
}
.rvps66
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 38px;
}
.rvps67
{
 line-height: 1.50;
 margin: 0px 0px 0px 10px;
}
.rvps68
{
 text-align: center;
 line-height: 1.50;
}
.rvps69
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 9px;
}
.rvps70
{
 margin: 0px 0px 0px 19px;
}
.rvps71
{
 margin: 0px 0px 0px 57px;
}
.rvps72
{
 page-break-after: avoid;
}
.rvps73
{
}
.rvps74
{
 line-height: 1.50;
 margin: 0px 0px 0px 1px;
}
.rvps75
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps76
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps77
{
 line-height: 1.50;
 margin: 6px 0px 6px 24px;
}
.rvps78
{
 line-height: 1.50;
 margin: 7px 0px 7px 0px;
}
.rvps79
{
 line-height: 1.50;
 margin: 4px 0px 0px 0px;
}
.rvps80
{
 line-height: 1.50;
 page-break-after: avoid;
}
.rvps81
{
 line-height: 1.50;
 margin: 7px 0px 7px 0px;
}
.rvps82
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 7px 0px 7px 0px;
}
.rvps83
{
 line-height: 1.50;
 margin: 0px 0px 0px 14px;
}
.rvps84
{
 line-height: 1.50;
 margin: 16px 0px 16px 0px;
}
.rvps85
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 7px 0px 7px 0px;
}
.rvps86
{
 line-height: 1.50;
 margin: 7px 0px 7px 24px;
}
.rvps87
{
 line-height: 1.50;
 margin: 7px 0px 7px 48px;
}
.rvps88
{
 line-height: 1.50;
 background: #ebebeb;
 margin: 7px 0px 7px 0px;
}
.rvps89
{
 line-height: 1.50;
 margin: 9px 0px 0px 0px;
}
.rvps90
{
 text-indent: 48px;
 line-height: 1.50;
 margin: 9px 0px 0px 0px;
}
.rvps91
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 9px 0px 0px 0px;
}
.rvps92
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 7px 0px 7px 48px;
}
.rvps93
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 padding: 0px 0px 0px 0px;
 margin: 7px 0px 6px 0px;
}
.rvps94
{
 line-height: 1.50;
 margin: 7px 0px 7px 48px;
}
.rvps95
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps96
{
 line-height: 1.50;
 white-space: nowrap;
 border-color: #ebebeb;
 border-style: solid;
 border-width: 1px;
 padding: 12px 12px 12px 12px;
 margin: 0px 0px 13px 35px;
}
.rvps97
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps98
{
 line-height: 1.50;
}
.rvps99
{
 line-height: 1.50;
 margin: 16px 0px 16px 0px;
}
.rvps100
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps101
{
 line-height: 1.50;
}
.rvps102
{
 line-height: 1.50;
 margin: 16px 0px 16px 48px;
}
.rvps103
{
 line-height: 1.50;
 page-break-after: avoid;
}
.rvps104
{
 line-height: 1.50;
 margin: 16px 0px 16px 96px;
}
.rvps105
{
 line-height: 1.50;
 margin: 0px 0px 0px 96px;
}
.rvps106
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps107
{
 text-align: center;
 line-height: 1.50;
}
.rvps108
{
 margin: 0px 0px 0px 48px;
}
.rvps109
{
 page-break-after: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps110
{
}
.rvps111
{
}
.rvps112
{
 margin: 0px 0px 0px 48px;
}
.rvps113
{
 margin: 0px 0px 0px 96px;
}
.rvps114
{
 margin: 0px 0px 0px 144px;
}
.rvps115
{
 page-break-after: avoid;
 margin: 0px 0px 0px 96px;
}
.rvps116
{
 margin: 0px 0px 0px 96px;
}
.rvps117
{
 line-height: 1.50;
 margin: 9px 0px 0px 0px;
}
.rvps118
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 9px 0px 0px 0px;
}
.rvps119
{
 line-height: 1.50;
 background: #f2f2f2;
}
.rvps120
{
 text-indent: 48px;
 line-height: 1.50;
}
.rvps121
{
 text-indent: 96px;
 line-height: 1.50;
 margin: 9px 0px 0px 0px;
}
.rvps122
{
 line-height: 1.50;
 background: #f2f2f2;
 margin: 9px 0px 0px 0px;
}
.rvps123
{
 line-height: 1.50;
 margin: 15px 0px 0px 0px;
}
.rvps124
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 15px 0px 0px 0px;
}
.rvps125
{
 line-height: 1.50;
 page-break-after: avoid;
 margin: 0px 0px 0px 96px;
}
.rvps126
{
 margin: 7px 0px 7px 48px;
}
.rvps127
{
 margin: 0px 0px 0px 24px;
}
.rvps128
{
 margin: 0px 0px 0px 17px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 57px; list-style-position: outside;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 -9px; list-style-position: outside; list-style-type: lower-alpha;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: lower-roman;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: lower-alpha;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 52px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: upper-alpha;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: circle;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 240px; list-style-position: outside; list-style-type: square;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 47px; list-style-position: outside; list-style-type: disc;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 1px; list-style-position: outside; list-style-type: disc;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 38px; list-style-position: outside; list-style-type: lower-alpha;}
.list21 {text-indent: 0px; padding: 0; margin: 0 0 0 -23px; list-style-position: outside; list-style-type: lower-roman;}
.list22 {text-indent: 0px; padding: 0; margin: 0 0 0 57px; list-style-position: outside; list-style-type: disc;}
.list23 {text-indent: 0px; padding: 0; margin: 0 0 0 63px; list-style-position: outside; list-style-type: circle;}
.list24 {text-indent: 0px; padding: 0; margin: 0 0 0 28px; list-style-position: outside;}
.list25 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: disc;}
.list26 {text-indent: 0px; padding: 0; margin: 0 0 0 19px; list-style-position: outside;}
.list27 {text-indent: 0px; padding: 0; margin: 0 0 0 29px; list-style-position: outside; list-style-type: lower-alpha;}
.list28 {text-indent: 0px; padding: 0; margin: 0 0 0 15px; list-style-position: outside; list-style-type: lower-roman;}
.list29 {text-indent: 0px; padding: 0; margin: 0 0 0 19px; list-style-position: outside; list-style-type: disc;}
.list30 {text-indent: 0px; padding: 0; margin: 0 0 0 29px; list-style-position: outside; list-style-type: circle;}
.list31 {text-indent: 0px; padding: 0; margin: 0 0 0 53px; list-style-position: outside; list-style-type: disc;}
.list32 {text-indent: 0px; padding: 0; margin: 0 0 0 53px; list-style-position: outside;}
.list33 {text-indent: 0px; padding: 0; margin: 0 0 0 53px; list-style-position: outside; list-style-type: circle;}
.list34 {text-indent: 0px; padding: 0; margin: 0 0 0 149px; list-style-position: outside; list-style-type: disc;}
.list35 {text-indent: 0px; padding: 0; margin: 0 0 0 38px; list-style-position: outside;}
.list36 {text-indent: 0px; padding: 0; margin: 0 0 0 82px; list-style-position: outside; list-style-type: circle;}
.list37 {text-indent: 0px; padding: 0; margin: 0 0 0 -96px; list-style-position: outside; list-style-type: lower-roman;}
.list38 {text-indent: 0px; padding: 0; margin: 0 0 0 216px; list-style-position: outside; list-style-type: disc;}
.list39 {text-indent: 0px; padding: 0; margin: 0 0 0 144px; list-style-position: outside; list-style-type: disc;}
.list40 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: disc;}
.list41 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: upper-alpha;}
.list42 {text-indent: 0px; padding: 0; margin: 0 0 0 -9px; list-style-position: outside; list-style-type: circle;}
.list43 {text-indent: 0px; padding: 0; margin: 0 0 0 77px; list-style-position: outside; list-style-type: circle;}
.list44 {text-indent: 0px; padding: 0; margin: 0 0 0 -19px; list-style-position: outside;}
.list45 {text-indent: 0px; padding: 0; margin: 0 0 0 101px; list-style-position: outside;}
.list46 {text-indent: 0px; padding: 0; margin: 0 0 0 33px; list-style-position: outside; list-style-type: circle;}
.list47 {text-indent: 0px; padding: 0; margin: 0 0 0 63px; list-style-position: outside; list-style-type: square;}
.list48 {text-indent: 0px; padding: 0; margin: 0 0 0 62px; list-style-position: outside; list-style-type: circle;}
.list49 {text-indent: 0px; padding: 0; margin: 0 0 0 57px; list-style-position: outside; list-style-type: upper-alpha;}
.list50 {text-indent: 0px; padding: 0; margin: 0 0 0 39px; list-style-position: outside; list-style-type: lower-alpha;}
.list51 {text-indent: 0px; padding: 0; margin: 0 0 0 39px; list-style-position: outside; list-style-type: circle;}
.list52 {text-indent: 0px; padding: 0; margin: 0 0 0 57px; list-style-position: outside; list-style-type: upper-roman;}
.list53 {text-indent: 0px; padding: 0; margin: 0 0 0 77px; list-style-position: outside; list-style-type: lower-alpha;}
.list54 {text-indent: 0px; padding: 0; margin: 0 0 0 53px; list-style-position: outside; list-style-type: lower-alpha;}
.list55 {text-indent: 0px; padding: 0; margin: 0 0 0 58px; list-style-position: outside; list-style-type: lower-alpha;}
.list56 {text-indent: 0px; padding: 0; margin: 0 0 0 57px; list-style-position: outside; list-style-type: lower-alpha;}
.list57 {text-indent: 48px; padding: 0; margin: 0 0 0 0px; list-style-position: outside;}
.list58 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside;}
.list59 {text-indent: 96px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: circle;}
.list60 {text-indent: 0px; padding: 0; margin: 0 0 0 144px; list-style-position: outside;}
