@(editUserForm: Form[UserEdit], orgs: IndexedSeq[String], roles: Set[String], signedInUserName: Option[String], userorg: Option[String], userrole: Option[String], usrEmail: String, mfr: String, version: String)(implicit flash: Flash, messages: Messages)

@import helper._
@import constants._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2Input.f) } 

@title = {
  Edit User 
}

@main(signedInUserName,  userorg, userrole, title, true, Page.Admin) {
  <div class="span6">

   @flash.get(FKSuccess).map { message =>  <div class="alert alert-success">   @message  </div>  }
   
   @if(editUserForm.hasErrors) { <div class="alert alert-error"> Oops! Please see below. </div> }       
   @editUserForm.globalError.map { error => <div class="alert alert-error"> @error.message   </div>  }

   @form(routes.AdminUser.edit("v1", usrEmail, mfr), 'class -> "form-horizontal") {        
      @inputText( editUserForm("first_name").copy(value = editUserForm("first_name").value), 'maxlength -> "128", '_label -> "First Name: *",'_showConstraints -> false)   
      @inputText( editUserForm("last_name").copy(value = editUserForm("last_name").value), 'maxlength -> "128", '_label -> "Last Name: *",'_showConstraints -> false)
      @checkbox( editUserForm("sso").copy(value = editUserForm("sso").value),  '_label -> "SSO:", '_showConstraints -> false)  
      @inputText( editUserForm("wb_user_name").copy(value = editUserForm("wb_user_name").value), 'maxlength -> "128", '_label -> "Wb User Name: *",'_showConstraints -> false) 
      @checkbox( editUserForm("report_usage").copy(value = editUserForm("report_usage").value),  '_label -> "Report Usage:", '_showConstraints -> false )      
      @select(editUserForm("org").copy(value = editUserForm("org").value),	 
        options(orgs.toList),
        '_default -> "Select the user's company",
        '_label -> "Company: *",
        '_error -> editUserForm("org").error.map(_.withMessage("Please select a company")),
        '_showConstraints -> false          
        )
      @select(editUserForm("role").copy(value = editUserForm("role").value), 
        options(roles.toList),
        '_default -> "Select the user's role",
        '_label -> "Role: *",
        '_error -> editUserForm("role").error.map(_.withMessage("Please select a role")),
        '_showConstraints -> false          
        ) 
      @select( editUserForm("realm_def").copy(value = editUserForm("realm_def").value), 
	          options = options(Org.realms.toList),
	          '_default -> "Select a Realm",
	          '_label -> "Default Realm: *",
	          '_error -> editUserForm("realm_def").error.map(_.withMessage("Please select a default realm")),
	          '_showConstraints -> false)               

      @inputText( editUserForm("url_def").copy(value = editUserForm("url_def").value), 'maxlength -> "512", '_label -> "Default Url: *",'_showConstraints -> false) 
      @inputText( editUserForm("mps_def").copy(value = editUserForm("mps_def").value), 'maxlength -> "128", '_label -> "Default MPS: *",'_showConstraints -> false)
      @checkbox( editUserForm("is_prospect").copy(value = editUserForm("is_prospect").value),  '_label -> "Is Prospect:", '_showConstraints -> false)
      @checkbox( editUserForm("dashboard_admin").copy(value = editUserForm("dashboard_admin").value),  '_label -> "Dashboard Admin:", '_showConstraints -> false) 
      @checkbox( editUserForm("active").copy(value = editUserForm("active").value),  '_label -> "Is Active:",'_showConstraints -> false)
      @checkbox( editUserForm("show_info").copy(value = editUserForm("show_info").value),  '_label -> "Show Info:", '_showConstraints -> false)
         
     
      <div class="form-actions">
        <input name="action" class="btn btn-primary" type="submit" value="Save">
        <a href="@routes.AdminUser.list("v1")" class="btn">Cancel</a> 
      </div>
    }            
  </div>
}
