<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between topBar">
    <app-logo></app-logo>
    <!-- <a class="navbar-brand" href="#" >
        <img src="./../../../../{{imageDir}}/glassbeam.png" alt="Glassbeam">
    </a> -->
    <!--  Dark Mode Switch Disabled As Of Now-->
    <!-- div (click)="switchToDark()" class="darkMode"></div -->
    <div ngbDropdown class="d-inline-block" display="dynamic">
      <fa-icon icon="user-circle" size="2x" ngbDropdownToggle></fa-icon>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0 m-0">
        <button ngbDropdownItem><app-logout></app-logout></button>
      </div>
    </div>
</nav>