.page-user nav.navbar.navbar-default, .page-user .navbar-header {
	background: #2d3436;
	color: #dfe6e9; 
}
body {
	color: #dfe6e9;
}
.hiddenField {
	display: none;
}
.adminLoginForm {
	background: #ecf0f1;
	border-radius: 5px;
}
.changepassword-body {
    background-color: #e4edf7;
}
.changepassword-footer.modal-footer {
    margin-top: 0px;
    padding: 8px 20px 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.adminInfo {
	margin-top: 50px;
	background: #ecf0f1;
}
@media (min-width: 992px) {
	.adminInfo {
		margin-top: 0px;
	}
}
.adminInfo h2, .adminLoginForm h2 {
	margin: 0;
	padding: 10px 0;
	border-radius: 5px 5px 0 0;
}
.form-container {
	padding: 15px;
}
.submitIcon {
  border: none;
  width: auto;
  margin: 0 auto;
  background: #ecf0f1;
  height: auto;
  border-radius: 70px;
  margin-bottom: -65px;
  box-shadow: none;
}
.notactive {
	color: #8c8c8c;
}
.submitIcon span {
	font-size: 60px;
	color: #3498db;
}
.submitIcon span:hover {
	color: #2980b9;
}
.bg-inverse {
	background: #292b2c!important;
}
.text-white {
	color: #ffffff;
}
.adminInfo ul {

}
.adminInfo ul li {
	padding: 4px 0 5px 15px;
}
.infoIcons div {
	padding: 37px 0;
}
.adminInfo ul li:before {
	display: none;
}
.adminInfo .glyphicon {
	font-size: 40px;
}
.adminInfo .glyphicon-plus {
	color: #2ecc71;
}
.adminInfo .glyphicon-trash {
	color: #c0392b;
}
.adminInfo .glyphicon-edit {
	color: #2c3e50;
}
.adminInfo .glyphicon-user {
	color: #d35400;
}
.userInfo {
	margin-top: 25px;
}
.userInfo .glyphicon {

}
#userTableData.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
}
#userTableData thead{
	max-height:360px;
	overflow-y:auto;
	width: 100%;
}
#userTableData {
	display: block;
}
#userTableData tbody.noBlock, #userTableData thead.noBlock {
	display:table;
}
#userTableData tbody{
	max-height:360px;
	overflow-y:scroll;
	width: 100%;
	display: block;
}
#userTableData.table-fixed tbody tr {
	clear:both;
}
#addRoleModal label, #editUserModal label, label.checkboxLabel {
    display: block;
}
label.checkboxLabel {
	font-weight: normal;
}
.infoBar {
	background: #f3f3f3;
}
.text-capitalize {
	text-transform: capitalize;
}
#userTableData.table-fixed thead .topInfoBar td {
	display: table-cell;
	vertical-align: middle;
}
#addNewUserModal .modal-footer, #editRoleModal .modal-footer, #addRoleModal .modal-footer, #editUserModal .modal-footer, #addProductModal .modal-footer{
	clear: both;
}
#userTablePager, #roleTablePager {
	text-align: center;
}
#userTablePager ul, #roleTablePager ul {
	margin: 0;
}
tr.deleted td {
	background:#f2dede !important;
}
.arrow-down span:after,.arrow-up span:after{
 content: ' ';
 position: relative;
 left: 2px;
 border: 8px solid transparent;
}

.arrow-down span:after{
 top: 10px;
 border-top-color: #fff;
}

.arrow-up span:after{
 bottom: 15px;
 border-bottom-color: #fff;
}

.arrow-down,.arrow-up{
 padding-right: 10px;
}
#roleTableData tr th, #userTableData tr th {
	cursor: pointer;
	color: #2980b9;
}
.gb-first-time-loader {
	z-index : 1060;
}
.noUsers {
	color: #000;
  text-align: center;
  font-weight: bold;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
#userListTab table:first-child, #roleListTab table:first-child {
	margin-bottom: 0;
}
#userListTab table td, #userListTab table th{
	position: relative;
}
#roleListTab table td table tr td {
	position: relative;
}
#userListTab table th:before, #userListTab table td:before {
  content: '';
  display: inline-block;
}
#roleListTab table td table tr td:before {
	content: '';
  display: inline-block;
}
.RoleEditButton {
	width:11%;
}
#userListTab table tr.topInfoBar td {
	vertical-align: middle;
}
#userListTab table tr.topInfoBar td:before {
  content: '';
  display: table-cell;
}
#userListTab table td span, #userListTab table th span {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 2px;
  right: 0;
}
#roleListTab table td table tr td span {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 0;
  right: 0;
}
#msgModal p, #editUserModal .modal-header .modal-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
#userListTab table th.checkboxcell, #userListTab table td.checkboxcell, #roleListTab table th.checkboxcell, #roleListTab table td.checkboxcell {
	width: 2%;
	vertical-align: middle;
}
#userListTab table .namecell, #userListTab table .emailcell, #userListTab table .rolecell {
	width: 12%;
}
#userListTab table .createdcell {
	width: 13.3%;
}
#userListTab table .modifiedcell {
	width: 13.4%;
}
#userListTab table .report_usagecell, #userListTab table .activecell {
	width: 11%;
}
#userListTab table .dash_admincell {
	width:14%;
}
.dash_admincell span {
    width: 70%;
}
#roleListTab table .namecell {
	width: 25%;
	vertical-align: middle;
}
#roleListTab table .prodNameCell {
	width: 18%;
}
table.firstTable tr.table-bordered th, table#userTableData tr th {
	background: #428bca;
	color: #dfe6e9;
	border-bottom: 1px solid #fff !important;
}
#userListTab table th, #roleListTab table th {
	cursor: pointer;
}
table.domainMPScell tr td {
	line-height: 1.8em;
}
.page-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    text-align: center;
    background: rgba(100, 100, 100, .2);
}
.page-loader-body {
    display: inline-block;
    min-height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
}
.page-loader .rect, .loading .rect, .page-loader-white-gb .rect {
    background-color: #149bf7;
    height: 50px;
    width: 10px;
    margin-left: 4px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.section-loader .rect2, .page-loader .rect2, .loading .rect2, .page-loader-white-gb .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.section-loader .rect3, .page-loader .rect3, .loading .rect3, .page-loader-white-gb .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.section-loader .rect4, .page-loader .rect4, .loading .rect4, .page-loader-white-gb .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.section-loader .rect5, .page-loader .rect5, .loading .rect5, .page-loader-white-gb .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.close {
	color: #fff;
	padding: 3px;
	opacity: 1;
}
.withHelpIcon {
	width: 85%;
	float: left;
}
.helpIcon {
	font-size: 22px;
	margin-top: 3px;
}
.page-user {
	background: #2d3436;
}
table.domainMPScell tr:first-child td {
	border:none;
}
.errorInput {
	border-color: red !important;
}
.btn-group .btn.disableBtn {
	border-bottom-right-radius : 3px !important;
	border-top-right-radius : 3px !important;
}
.adminCsvButton {
	top:0;
	right: 20px;
	position: absolute;
}
.page-user .other-innerpages {
	position: relative;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px #2980b9; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
#userListPagerLocation td {
	display: block;
}
#roleTableData thead {
	display: none;
}
.firstTable {
	margin-bottom: 0;
}
#roleListPagerLocation .ng-table-counts {
	display: none;
}
#msgErrorModal .modal-header {
	background: #dc3545!important;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block !important;
  width: 36px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.themeSwitch {
	margin: 0 auto;
    position: absolute;
    top: 107px;
    right: 270px;
}
.themeSwitch span.textField {
	float: left;
	margin-right: 10px;
}
.themeSwitch span.textField1 {
	float: right;
	margin-left: 10px;
}
.page-user .form-control {
	color: #2d3436;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background: #b2bec3;
}
.page-user .form-control::placeholder  {
	color: #636e72;	
}
.topInfoBar {
	color: #dfe6e9;
	border-right: 1px solid #636e72;
	border-left:  1px solid #636e72;
}
.page-user .modal-content {
	background: #2d3436;
}
.page-user .nav-tabs {
	border-bottom : 1px solid #636e72;
}
.page-user .nav-tabs>li.active>a, .page-user .nav-tabs>li.active>a:hover, .page-user .nav-tabs>li.active>a:focus {
	color: #dfe6e9;
    background-color: #636e72;
    border: 1px solid #636e72;
    border-bottom-color: transparent;
    cursor: default;	
}
.page-user table.firstTable tr.table-bordered th, .page-user table#userTableData tr th {
	border-bottom: 1px solid #636e72 !important;
}
.page-user .table-bordered {
    border: 1px solid #636e72;
}
.page-user .table-bordered>thead>tr>th, .page-user .table-bordered>tbody>tr>th, .page-user .table-bordered>tfoot>tr>th, .page-user .table-bordered>thead>tr>td, .page-user .table-bordered>tbody>tr>td, .page-user .table-bordered>tfoot>tr>td {
	border : 1px solid #636e72;
}
.page-user .modal-footer {
	border-top :  1px solid #636e72;
}
.page-user .table .table {
	background: none;
}