<!-- Default form login -->

<section id="cover" class="min-vh-100" [ngStyle]="{'background': 'url(' + imageDir + '/user.jpg) no-repeat 0 0 / cover'}">
  <div class="loading" *ngIf="loading" id="loaderDiv"><app-loader></app-loader></div>
  <div id="cover-caption">
    <div class="container-fluid" (click)="hideMsgs($event)">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 mx-auto text-center form bg-light">
          <div class="row">
            <div class="col m-2 bg-light text-left login-left min-height-400">
              <app-logo id="logo"></app-logo>
              <div class="">
                <div class="col-lg p-0">
                  <div class="" align="center" id="msgDiv">
                    <small class="col-sm-10 text-danger" align="center" id="forgot-errorMsg" [hidden] = "!errorBlock">{{errorMsg}}</small>
                    <small class="col-sm-10 text-success" align="center" id="forgot-successMsg" [hidden] = "!successBlock">{{successMsg}}</small>
                  </div>
                  <div class="" style="overflow:hidden">
                      <div class="alert-sm alert-primary small p-2 mb-2" role="alert">
                        <span id="submit-password-text">Enter the e-mail address you use to login to Glassbeam application.  A link will be e-mailed to the specified address which will let you reset your password</span>
                      </div>
                      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" id="forgotPasswordForm">
                        <div class="form-group" >
                          <label id='forgot-EmailLabel' for="email" class="text-secondary">Email/Username</label>                              
                          <input type="text" class="form-control" id="forgot-email" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}">
                          <div id="forgotFormErrors" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div id="passwordErrMsg" *ngIf="(submitted && f.email.errors.required) || (submitted && f.email.errors.pattern)">{{emailMsg}}</div>
                          </div>
                          <!-- <div *ngIf="f.email.errors" id="forgotFormErrors" >
                            <small class="col-sm-10" [@message]=showMsgEmail class="text-danger" id="forgotFormErrorsSmall" >             
                              {{errMsgEmail}}          
                            </small>
                          </div> -->
                        </div>
                        <button id='forgot-back' class="btn btn-sm px-0 btn-link " type="button" (click)="loginForm()">
                            <fa-icon title="Login" class="mt-1" [icon]="['fas','step-backward']"></fa-icon>
                            Back
                        </button>         
                        <button id='forgot-submit' class="btn btn-sm btn-outline-primary float-right" [disabled]="!forgotPasswordForm.value.email.length" type="submit">           
                          Submit
                          <fa-icon title="Sign In" class="mt-1" [icon]="['fas','sign-in-alt']"></fa-icon>
                        </button>
                        <!-- <button class="btn btn-sm btn-primary float-right" *ngIf="submitted" id='forgot-progress-button'>
                              <span class="spinner-border spinner-border-sm" ></span>Sending Email..              
                        </button>  -->
                      </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col m-2 bg-light login-right min-height-400 text-light text-left" [ngStyle]="{'background': 'url(' + imageDir + '/rightSideBg.jpg) no-repeat 0 0 / cover'}">
              <div class="mx-4 mt-6">
                <h5 id="primary-info">Leverage the power of your machine data</h5>
                <ul class="px-4 a" id="secondary-info">
                  <li>360-degree product intelligence</li>
                  <li>Turn data into insight</li>
                  <li>Deliver proactive customer services</li>
                  <li>Pursue data-driven product roadmaps</li>
                  <li>Cross and upsell with reliable customer intelligence</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer id="footer"></app-footer>
