@(f_name: String, l_name: String, email_link: String, expiry: String,body: String, header: String, footer: String)
@import constants._
@import constants.Page._
@import play.api._
@import play.api.Play.current

@if(body == "NA" && header == "NA" && footer == "NA") {
<span style="font-family: Georgia, Times, Times New Roman, serif;font-size:17px">Hello @f_name,

Your Account has been created on Glassbeam. Please click this <a style='color:#22b8eb;font-size:17px;text-decoration:none;text-align:left' href=@email_link>link</a> to set up your password

Kindly note that the password link will expire in <b>@expiry</b>.

Thank You,
The Glassbeam Team
http://www.glassbeam.com
</span>       
} else {

<span style="font-family: Georgia, Times, Times New Roman, serif;font-size:17px">@header @f_name,<br/>
@body 
Please click this <a style='color:#22b8eb;font-size:17px;text-decoration:none;text-align:left' href=@email_link>link</a> to set up your password

Kindly note that the password link will expire in <b>@expiry</b>  
<br/>  
@footer
</span>       

}
