@(f_name: String, l_name: String, email_link: String, body: String, header: String, footer: String)
@import constants._
@import constants.Page._
@import play.api._
@import play.api.Play.current

@if(body == "NA" && header == "NA" && footer == "NA") {
<span style="font-family: Georgia, Times, Times New Roman, serif;font-size:17px">Hello @f_name,

Your Account has been created on SmartFleet. 
You are now authorized to access SmartFleet Glassbeam Applications through you Single Sign On (SSO) credentials.	

Thank You,
SmartFleet-Glassbeam Account Administrator

</span>       
} else {

<span style="font-family: Georgia, Times, Times New Roman, serif;font-size:17px">@header @f_name,<br/>
@body
@if(email_link != "NA"){Please visit the <a style='color:#22b8eb;font-size:17px;text-decoration:none;text-align:left' href=@email_link>link</a>
}

@footer
</span>       

}
