@(f_name: String, l_name: String, group: String, header: String, body: String, footer: String)
@import constants._
@import constants.Page._
@import play.api._
@import play.api.Play.current

<span style="font-size:17px">
@if(header == ""){
Dear @f_name,
} else {
@header @f_name,
}
@if(body == ""){
The list of systems/devices that you have access to on
Glassbeam has been modified.

This may affect
- Rules that you have subscribed to
- Systems you viewed as part of Clinsights

Once you login to Glassbeam using your credentials, click
on your User Profile -> Device List (which is on the top
right corner of the Glassbeam application) to view the
updated list of systems/devices that you have access to.
} else {
@body
}
@if(footer == "") {
Glassbeam administrator
} else {
@footer
}

</span>