@(username: String, f_name: String, l_name: String, loginUrl: String, expiryDays: Int, isCreated: Boolean, footer: String)

@import constants._
@import constants.Page._
@import play.api._
@import play.api.Play.current
<span style="font-size:17px">Hello @f_name,
@if(isCreated) {
Welcome to Glassbeam Analytics. For the next 30 days you
will have access to one of the world's most powerful insightful
analytics tool. Click on the login link below to explore into
our interactive demos.

<a style='padding:10px 20px 10px 30px;margin-bottom:20px;color:#22b8eb;font-size:17px;text-decoration:none;display:inline-block;text-align:center' href=@loginUrl>Login</a>
} @if(!isCreated && expiryDays == 7){
It&#8217;s been a week since you registered for your free trial of
Glassbeam Clinsights and we hope your experience is going
well. If you have any feedback or questions, please contact
<a href="mailto:@SalesEmail">Glassbeam Sales</a>
} @if(!isCreated && expiryDays == 25){
You have 5 days left on your free trial and we hope you saw
value with the clinical insights provided on machine data
through Glassbeam Clinsights. If you are interested to deploy
Glassbeam Clinsights in your facility or would like to extend
the trial period, you can reach out to us at <a href="mailto:@SalesEmail">Glassbeam Sales</a>
} @if(!isCreated && expiryDays >= 30){
Thank you again for your interest in the Glassbeam Clinsight&#8217;s
Free Trial. Your free trial has expired and we hope this trial
was helpful to make a decision on your clinical insights requirement.

If you are interested to deploy Glassbeam Clinsights in your
facility or would like to extend the trial period, you can reach
out to us at <a href="mailto:@SalesEmail">Glassbeam Sales</a>
}

@footer
</span>
