@(username: Option[String], userorg: Option[String], userrole: Option[String], pageTitle: Html, showTitle: Boolean, activePage: constants.Page.Page, customScript:Html = Html(""))(content: Html)

@import constants._
@import constants.Page._
@import play.api._
@import play.api.Play.current

<!DOCTYPE html>

<html>
  <head>
  <title>@pageTitle | Glass Beam</title>
  
  <meta charset="utf-8">
  <meta name="description" content="Machine Data Analytics">
  
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
  <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("img/favicon.ico")" >  
  
  <style>
    body {
      padding-top: 40px; 
    }
  </style>    
  </head>

  <body>  
    <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      
      <!--  <a class="brand" href="/">@if(Play.isProd) {@SiteName} else {@SiteName (Dev)}</a> --> 
      <a class="brand" href="www.glassbeam.com">@SiteName</a>
      <ul class="nav">
        <li @if(activePage == Home) {class="active"} ><a href="/">Home</a></li>
        @username.map { name =>
          <li @if(activePage == Admin) {class="dropdown active"} else {class="dropdown"}>
            <a id="adminDrpDown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="adminDrpDown">
              @userorg.map {org => @if(org == GBName) {            
	      	@userrole.map {role => @if(role == URAdmin) {
              	<li><a tabindex="-1" href="@routes.AdminMfr.addForm("v1")">Add a Manufacturer</a></li>
              	<li><a tabindex="-1" href="@routes.AdminMfr.list("v1", None)">View Manufacturers</a></li>
	      	<li class="divider"></li>
	      	<li><a tabindex="-1" href="@routes.AdminCustomer.addForm("v1")">Add a Customer</a></li>
              <li><a tabindex="-1" href="@routes.AdminCustomer.list("v1", None)">View Customers</a></li>
              <li class="divider"></li>
              	
	      	}}
	      }}
              <li><a tabindex="-1" href="@routes.AdminRole.addForm("v1")">Add a Role</a></li>
              	<li><a tabindex="-1" href="@routes.AdminRole.list("v1")">View Roles</a></li>
              	<li class="divider"></li>
               <li><a tabindex="-1" href="@routes.AdminUser.addForm("v1")">Add a User</a></li>
              <li><a tabindex="-1" href="@routes.AdminUser.list("v1")">View Users</a></li>
            </ul>
          </li>
          <!--  <li @if(activePage == Basic) {class="active"} ><a href="#">Basic</a></li>
          <li @if(activePage == Advanced) {class="active"} ><a href="#">Advanced</a></li> -->
        }
      </ul>                 
          
        @username.map { name =>
        <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" @if(activePage == Account) {class="active dropdown-toggle"} else {class="dropdown-toggle"}
                data-toggle="dropdown">Hi @name <b class="caret"></b></a>
                
          <ul class="dropdown-menu">
            <li><a href="#">Change password</a></li>             
            <li><a href="#">Update profile</a></li>
            <li><a href="#">Update settings</a></li>             
            <li class="divider"></li>
            <li><a href="@routes.Application.logout("v1", None, None)">Sign out</a></li>
          </ul>
        </li>
        </ul>
        }
      </div>
    </div>
    </header>
    
  <section id="main" class="container">
    @if(showTitle) {
      <header class="row page-header">
        <h1>@pageTitle</h1>
      </header>     
    }
  
    <div class="row">
      @content
    </div>
    
    <footer id="site_footer" class="row">
      <nav id="footer_navbar">
       <ul>
        <li> <a href="#">About </a> </li>
        <li> <a href="#">FAQ</a> </li>
        <li> <a href="#">Terms </a> </li>
        <li> <a href="#">Privacy Policy</a> </li>
        <li> <a href="#">Contact Us</a> </li>
       </ul>
      </nav>
      
      <p id="copyright" itemscope itemtype="http://data-vocabulary.org/Organization">
        Copyright &copy;
        <span itemprop="copyrightYear">2012</span>
        <span itemprop="copyrightHolder">@CompanyName</span>.
        <span>All trademarks and copyrights are the property of their respective owners.</span>
      </p>
    </footer>

  </section>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type='text/javascript'%3E%3C/script%3E")); 
        }
  </script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
  @customScript 
  
  </body>
</html>
