@(signedInUserName: Option[String], userorg: Option[String], userrole: Option[String], version: String)(implicit flash: Flash, messages: Messages)

@import helper._
@import constants._
@import constants.Page._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2Input.f) }
@title = {
    Page Title
}

@main(signedInUserName, userorg, userrole, title, true, Home) {
	<div class="span10">
	
	  @flash.get(FKSuccess).map { message => <div class="alert alert-success"> @message </div> }
	  <p>
	     This page will be replaced by an interactive JavaScript based UI
	  </p>
	  
	</div>
}
