@(addMfForm: Form[NewOrg], signedInUserName: Option[String], userorg: Option[String], userrole: Option[String], version: String)(implicit flash: Flash, messages: Messages)

@import helper._
@import constants._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2Input.f) }

@title = {
Add New Manufacturer
}

@main(signedInUserName, userorg, userrole, title, true, Page.Admin) {
<div class="span6">

    @flash.get(FKSuccess).map { message =>  <div class="alert alert-success">   @message  </div>  }
    @if(addMfForm.hasErrors) { <div class="alert alert-error"> Oops! Please see below. </div>  }
    @addMfForm.globalError.map { error => <div class="alert alert-error"> @error.message   </div>  }

    @form(routes.AdminMfr.add(version), 'class -> "form-horizontal") {
    @inputText( addMfForm("name"), 'maxlength -> "128", '_label -> "Name: *",'_showConstraints -> false)
    @inputText( addMfForm("desc"), 'maxlength -> "512", '_label -> "Description: *", '_showConstraints -> false)
    <div class="form-actions">
        <input name="action" class="btn btn-primary" type="submit" value="Save">
        <a href="@routes.AdminMfr.list(version, None)" class="btn">Cancel</a>
    </div>
    }
</div>
} 
