@(mfrs: IndexedSeq[String], signedInUserName: Option[String], userorg: Option[String], userrole: Option[String], version: String)(implicit flash: Flash, messages: Messages)

@import helper._
@import constants._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2Input.f) } 

@title = {
  Manufacturers 
}

@main(signedInUserName, userorg, userrole, title, true, Page.Admin) {

  <div class="span12">
  
    @flash.get(FKSuccess).map { message =>  <div class="alert alert-success"> @message  </div> }
    @flash.get(FKError).map { message =>  <div class="alert alert-error"> @message  </div> }
    
    @if(mfrs.nonEmpty){
    <table class="table table-striped" >
      <thead>
        <tr>
          <th> Name </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        @mfrs.map { mfr =>
          <tr>      
            <td> @mfr  </td>
            <td>      
              @form(routes.AdminMfr.delete(version, mfr)) {
                <input class="btn btn-primary" type="submit" name="action" onclick="return confirm('Are you sure to remove this manufacturer?')" value="remove" />
              }   
            </td>
          </tr>
        }
      </tbody>
    </table>
  } else {
        <div class="well">
            <em> You have not created any manufacturers yet.</em>
        </div>  
  }
    
  </div>
       
}
