.error-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
        
.page-user nav.navbar.navbar-default, .page-user .navbar-header {
    border: none;
}

nav.navbar.navbar-default {
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    z-index: 99;
    border-top: none;
}

.navbar-default .navbar-brand {
    height: inherit;
}

.navbar-brand {
    padding: 11px;
}

.page-user {
    background-image: url(/apps/app/login/images/user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-user .alert{
    border-radius: 0;
}