/*
 * General styles
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

body{
    font-family: 'Roboto', 'sans-serif';
    background-image: url(/apps/app/login/images/user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar.navbar-default{
    margin-bottom:0px;
    background-color:#fff;  
    border: none;
    border-radius:0;
    z-index: 99;
}
.logo img{
    margin-right:20px;
    width: 150px;
}

#gbLoginForm input[type="email"], 
#gbLoginForm input[type="text"], 
#gbLoginForm input[type="password"],
#user-pass input[type="text"]{   
    height:inherit;
    background-color: #ebebeb;
    border-radius: 0;
    border: none;
    color: #484848;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    min-height: 35px;
    text-indent: 10px;
}

#gbLoginForm  button
{
    height:inherit;
    padding:12px 30px;
    border-radius:0;
    margin-right:0 !important;
    font-size:15px;

    border: none;
    background-color: #33ccf5;
    color: #fff;
}

.main{
    
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 5px;
}
.gb-form-field{
    position: relative;
}
.gb-validation-message{
    position: absolute;
    background-color: #fdfcee;
    display: inline-block;
    top: 36px;
    left: 0;
    padding: 2px;

    width:100%;
    overflow: hidden;

    animation-name: stretch;
    animation-duration: 0.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;  
    animation-play-state: running;
}
.gb-validation-message-icon { 
    float: left;
    margin-left: 5px;
    color: red;
    font-size: 18px;
}

@keyframes stretch {
  0% {
    height: 0;
  }
  25% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  75% {
    height: 25px;
  }
  100% {
   height: auto;
  }
}

.gb-validation-message-text{
    font-size: 12px;
    color: #a94442;
    margin: 5px 10px;
}
.gb-page-message{
    min-height: 100%;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gb-page-message div{
    text-align: left;
    border-radius: 0;
    margin: 0;
}
.gb-page-message.gb-campaign-body-show{    
    display: flex;
}

label{
    margin-bottom: 15px;
}
a{
    color: #33ccf5;
    text-decoration: underline;
    font-size: 15px;
    padding: 11px 0;
    display: inline-block;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    

}
.input-group-addon{
    background-color: #ccc;
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 0 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
.gb-campaign-body-hide{
    display: none;
}
.gb-campaign-body-show{
    display: block;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.gb-loading{
    position: absolute;
    top: 40%;
    left: 45%;
    display: inline-block;
    padding: 5px;
    width: 10%;
}
.gb-loading-sign-in{
    position: absolute;
    top: 40%;
    left: 45%;
    display: none;
    padding: 5px;
    width: 10%;
}
.gb-loading-sign-in.gb-campaign-body-hide{
    display: none;
}
.gb-loading-sign-in.gb-campaign-body-show{
    display: block;
}
/*.gb-loading-sign-in.ng-show{
    display: inline-block !important;
}
.gb-loading-sign-in.ng-hide{
    display: none; !important;
}*/
.gb-loading .msg, 
.gb-loading-sign-in .msg{
    font-size: 14px;
    display: block;
    font-style: italic;
    color: #777;
    text-align: center;
}
.bar{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #2187e7;
    position: absolute;
    margin: 10px 0;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);
    -o-box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);

    -webkit-animation: fullexpand 2s ease-out infinite;
    -moz-animation: fullexpand 2s ease-out infinite;
    -o-animation: fullexpand 2s ease-out infinite;
    animation: fullexpand 2s ease-out infinite;
}

@-moz-keyframes fullexpand {
    0%  { width:0px;}
    50%{ width:50%;}  
    100%{ width:100%;}  
}
@-webkit-keyframes fullexpand {
    0%  { width:0px;}
    50%{ width:50%;}  
    100%{ width:100%;}  
}
.gb-font-smallest{
    font-size: 10px;
    padding-top: 20px;
    display: inline-block;
}
.gb-link-smallest{

    font-size: 12px;
}