<!-- Default form login -->

<app-toast-notification></app-toast-notification>
<section id="cover" class="min-vh-100" [ngStyle]="{'background': 'url(' + imageDir + '/user.jpg) no-repeat 0 0 / cover'}">
  <div id="cover-caption">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 mx-auto text-center form bg-white">
          <div class="row">
            <div class="col m-2  text-left login-left min-height-400 bg-white">
              <app-logo></app-logo>
              <div class="col-lg p-0">
                <div class="" align="center" id="msgDiv">
                  <small class="col-sm-10 text-danger" align="center" id="forgot-errorMsg" [hidden] = "!errorBlock">{{errorMsg}}</small>
                  <small class="col-sm-10 text-success" align="center" id="forgot-successMsg" [hidden] = "!successBlock">{{successMsg}}</small>
                </div>
                <div class="" style="overflow:hidden">
                    <form [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
                      <div class="form-group" >
                        <label id='passwd' for="passwd" class="text-secondary">New Password</label>                              
                        <input type="password" (click) = "mouseEnterPassword($event)" [@validate]=validateClassPassword  class="form-control" id="passwd" formControlName="passwd">
                        <div *ngIf="f.passwd.errors" >
                          <small class="col-sm-10" [@message]=showMsgPassword class="text-danger"  >             
                            {{errMsgPassword}}          
                          </small>
                        </div>
                      </div> 
                      <div class="form-group" >
                        <label id='repassword' for="repassword" class="text-secondary">Confirm Password</label>                              
                        <input type="password" (click) = "mouseEnterRePassword($event)" [@validate]=validateClassRePassword  class="form-control" id="repassword" formControlName="repassword">
                        <div *ngIf="f.repassword.errors" >
                          <small class="col-sm-10" [@message]=showMsgRePassword class="text-danger"  >             
                            {{errMsgRePassword}}          
                          </small>
                        </div>
                      </div> 
                      <!-- <button id='back' class="btn px-0 btn-sm btn-link " type="button" *ngIf="!loginLink" (click)="loginForm()">
                          <fa-icon title="Login" class="mt-1" [icon]="['fas','step-backward']"></fa-icon>
                          Login
                      </button> -->
                                        
                      <button id='submit' class="btn btn-sm btn-outline-primary float-right" *ngIf="!submitted" type="submit">           
                        Submit
                        <fa-icon title="Sign In" class="mt-1" [icon]="['fas','sign-in-alt']"></fa-icon>
                      </button>
                      <button class="btn btn-sm btn-primary float-right" *ngIf="submitted" id='progress-button'>
                            <span class="spinner-border spinner-border-sm" ></span>Creating Password..              
                      </button>
                      </form>
                     
                </div>
                <div id="admin-password-instruction-container" class="admin-password-instruction-container">
                  <div class="font-weight-bold">
                      <label class="ml-3">{{instructions.passwordInstruction}}</label>
                  </div>
                  <ul class="password-instructions-list">
                      <li>{{instructions.passwordMinCharacterLimit}} </li>
                      <li>{{instructions.passwordMaxCharacterLimit}} </li>
                      <li>{{instructions.passwordInstructionText}}</li>
                      <li>{{instructions.passwordInstructionText1}}<br>
                          -{{instructions.passwordInstructionSubText}} <br>
                          -{{instructions.passwordInstructionSubText1}}<br>
                          -{{instructions.passwordInstructionSubText2}}<br>
                          -{{instructions.passwordInstructionSubText3}}
                      </li>
                  </ul>
              </div>
              </div>
            </div>
            <div class="col m-2 login-right min-height-400 text-light text-left" [ngStyle]="{'background': 'url(' + imageDir + '/rightSideBg.jpg) no-repeat 0 0 / cover'}">
              <div class="mx-4 mt-6">
                <h5>Leverage the power of your machine data</h5>
                <ul class="px-4 a">
                  <li>360-degree product intelligence</li>
                  <li>Turn data into insight</li>
                  <li>Deliver proactive customer services</li>
                  <li>Pursue data-driven product roadmaps</li>
                  <li>Cross and upsell with reliable customer intelligence</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
