@import '../../../sass/color-constants';

.side-bar-nav{
    background: $gray;
    //min-height: 100vh;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    display:flex;
    min-height: 3em;
    max-height: 3em;
    .menu-list{
        line-height: 3rem;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row !important;
        li{
            text-align: center;
            margin: 0px 10px;
            padding: 0px 17px;
            &.is-active{
                border-bottom: 0.2em solid $blue;
                background: linear-gradient(0deg, #209cee 0%, #44b5ff 86%);
            }
            &:focus{
                outline: none;
            }
        }
    }
}
